<section class="devise-section">
    <h2 class="d-flex justify-content-center">Sign up</h2>
    <div class="d-flex shadow bg-white rounded">
        <div class="signup">
            <%= image_tag "cozynest_devise.jpg", class: "width-100p height-auto" %>
        </div>
        <div class="signup form">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "width-100p"}) do |form| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group">
                    <%= form.label :email, "Email address" %>
                    <br />
                    <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :type, "User type" %>
                    <br />
                    <div class="form-check">
                        <%= form.radio_button :type, :Guardian, :checked => true, class: "form-check-input" %> 
                        <%= label :type_guardian, 'Guardian', class: "form-check-label" %>
                    </div>
                    <div class="form-check">
                        <%= form.radio_button :type, :Shelter, class: "form-check-input" %>
                        <%= label :type_shelter, 'Shelter', class: "form-check-label" %>
                    </div>
                </div>

                <div class="form-group">
                    <%= form.label :username %>
                    <br />
                    <%= form.text_field :username, autofocus: true, placeholder: "Username", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :password %>
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <br />
                    <%= form.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= form.label :password_confirmation, "Repeat password" %><br />
                    <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
                </div>

                <div class="actions">
                    <%= form.submit "Sign up", class: "btn btn-primary width-100p" %>
                </div>
            <% end %>
        </div>
    </div>
</section>