<section class="container foster-request-review-section">
    <div class="d-flex shadow bg-white rounded foster-request-review-block">
        <div class="w-50 foster-request-review-image-container">
            <%= image_tag @foster_request.pet.picture.attached? ? @foster_request.pet.picture : 'cozynest_image_default.jpg', class: "w-100 h-auto foster-request-review-image" %>
        </div>
        <div class="w-50 foster-request-review-details-container">
            <%= form_with url: approve_foster_request_path, method: :patch, html: {class: "w-100"} do |form| %>
                <div class="pb-2">
                    <small class="font-weight-bold">Name:</small>
                    <br>
                    <%= @foster_request.pet.name %>
                </div>
                <div class="pb-2">
                    <small class="font-weight-bold">Comment:</small>
                    <br>
                    <%= @foster_request.comment %>
                </div>
                <% if not @foster_request.pet.guardian %>
                    <div class="pb-2">
                        <%= form.button "Accept", data: {confirm: "Are you sure?"}, class: "btn btn-primary w-100" %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <%= link_to "Back", foster_requests_per_pet_path(@foster_request.pet_id) %>
</section>