<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
    <div class="content col-12 col-md-7 col-lg-8 p-0 pr-md-3">
        <div class="col-12 p-0 main-preview mb-4">
            <%= image_tag @pet.picture, class: "thumbnail card-img top", alt: @pet.name %>
        </div>
    </div>
    <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">
        <h1 class="mb-sm-2 mb-md-5">
            <%= @pet.name %>
        </h1>
        <p>
            <%= @pet.category.name %>
        </p>
        <p>
            <%= @pet.description %>
        </p>
        <div class="container">
            <% if current_user %>
                <% if current_user.shelter? &&  %>
                    <% if current_user.id == @pet.shelter_id %>
                        <div class="d-flex justify-content-equally">
                            <%= link_to "Edit", edit_pet_path(@pet.id), class: "btn btn-warning mr-2" %>
                            <%= link_to "Delete", @pet, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
                        </div>
                    <% end %>
                <% elsif current_user.guardian? %>
                    <% if not @pet.guardian %>
                        <%= link_to "Request foster", foster_request_path(@pet.id) %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div>
            <%= link_to "Back", pets_path %>
        </div>
    </div>
</section>