<section class="container pet-show-section">
    <div class="d-flex shadow bg-white rounded pet-show-block">
        <div class="w-50 pet-show-image-container">
            <%= image_tag @pet.picture.attached? ? @pet.picture : 'cozynest_image_default.jpg', class: "w-100 h-auto pet-show-image", alt: @pet.name %>
        </div>
        <div class="w-50 pet-show-details-container">
            <div class="pb-2">
                <small class="font-weight-bold">Name:</small>
                <br>
                <%= @pet.name %>
            </div>
            <div class="pb-2">
                <small class="font-weight-bold">Category:</small>
                <br>
                <%= format_category(@pet.category.name) %>
            </div>
            <div class="pb-2 flex-grow-1" style="text-overflow: ellipsis;">
                <small class="font-weight-bold">Description:</small>
                <br>
                <%= @pet.description %>
            </div>
            <div class="pb-2 d-flex justify-content-between">
                <div>
                    <small class="font-weight-bold">Shelter:</small>
                    <br>
                    <%= @pet.shelter.username %>
                </div>
                <% if current_user && current_user.shelter? && current_user == @pet.shelter %>
                    <% if @pet.guardian %>
                        <div>
                            <small class="font-weight-bold">Fosterer:</small>
                            <br>
                            <%= @pet.guardian.username %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <% if current_user %>
                <% if current_user.shelter? && current_user == @pet.shelter %>
                    <div class="d-flex justify-content-end pb-1">
                        <% if not @pet.guardian %>
                            <div class="pr-1">
                                <%= link_to "Review requests", foster_requests_per_pet_path(@pet.id), class: "btn btn-primary" %>
                            </div>
                        <% end %>
                        <div class=<%= "pr-1" if not @pet.guardian %>>
                            <%= link_to "Edit", edit_pet_path(@pet.id), class: "btn btn-warning" %>
                        </div>
                        <% if not @pet.guardian %>
                            <div>
                                <%= link_to "Delete", @pet, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
                            </div>
                        <% end %>
                    </div>
                <% elsif current_user.guardian? %>
                    <div>
                        <% if not @pet.guardian %>
                            <%= link_to "Foster", new_foster_request_path(@pet.id), class: "btn btn-primary w-100" %>
                        <% elsif current_user == @pet.guardian %>
                            <%= link_to "End Fostering", end_foster_request_path(@pet.id), class: "btn btn-danger w-100" %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <br>
    <div class="p-3 shadow bg-white rounded d-flex flex-column">
        <small class="mb-2 font-weight-bold">Comments:</small>
        <% if @pet.reviews.count > 0 %>
            <% @pet.reviews.each do |review| %>
                <div>
                    <small class="font-weight-bold text-info">
                        <%= "#{review.reviewer.username} (#{format_time(review.created_at)}):" %>
                    </small>
                    <br>
                    <%= review.comment != "" ? review.comment : "None" %>
                </div>
            <% end %>
        <% else %>
            No comments exists!
        <% end %>
    </div>
</section>