<nav>
    <div>
        <a href="/">Cozynest</a>
    </div>
    <ul>
        <li>
            <%= link_to "Home", "/" %>
        </li>
        <li>
            <%= link_to "Pets", pets_path %>
        </li>
        <li>
            <%= link_to "Donation", donation_path %>
        </li>
        <% if user_signed_in? %>
            <div>
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.username %>
                </a>
                <div aria-labelledby="dropdownMenuLink">
                    <%= link_to "Edit account", edit_user_registration_path %>
                    <%= link_to "Manage pets", user_pets_path %>
                    <% if current_user.shelter? %>
                        <%= link_to "Register pet", new_pet_path %>
                    <% end %>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                </div>
            </div>
        <% else %>
            <%= link_to "Register", new_user_registration_path %>
            <%= link_to "Sign in", new_user_session_path %>
        <% end %>
    </ul>
</nav>